<div class="search">
  <input #searchInput class="search-input" type="text" placeholder="Ticker" (keyup)="onKeyUp($event)"/>
  <ng-container *ngIf="searchResults$ | async as searchResults; else loading">
    <div class="search-results">
      <div class="search-result" *ngFor="let searchResult of searchResults$ | async">
        <span>{{searchResult?.symbol}}</span>
        <span>{{searchResult?.name}}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    
  </ng-template>
  
</div>

<table class="custom-table">
  <thead>
    <tr>
      <th *ngFor="let col of tableColumns$ | async">{{col}}</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>